.idea
.external_modules
checkov-report.xml
.talismanrc
.terraform
.terraform.lock.hcl
introduction/terraform.tfstate
introduction/.terraform.tfstate.lock.info
introduction/tfplan.binary
introduction/tfplan.json
introduction/tfplan-new.json
