# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

.idea
.external_modules
checkov-report.xml
.talismanrc
.terraform
.terraform.lock.hcl
eks/terraform.tfstate
eks/.terraform.tfstate.lock.info
eks/tfplan.binary
eks/tfplan.json
eks/tfplan-new.json
eks/tfplanObt.json
introduction/tfplan.json
introduction/tfplan.binary
introduction/ci-report.xml
introduction-solution/plan-report.xml
introduction/plan-report.xml
introduction-solution/tfplan.binary
introduction-solution/tfplan.json
